{% extends "index.html" %}
{% block content %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Besmusic</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Home <span class="sr-only">(current)</span></a></li>
				<li><a href="/artists/all">Artists</a></li>
				<li class="active"><a href="/albums">Albums</a></li>
				<li><a href="/tracks">Tracks</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Our favorite albums</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">

				<div class="panel-heading">Nicolas Jaar</div>
					<div class="panel-body">
						<p>...</p>
					</div>

				<table class="table">
					<tr>
						<th>Ablbum title</th>
						<th>Year</th>
						<th>Tracks</th>
						<th>Length</th>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
				</table>

			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">

				<div class="panel-heading">Deadmaus</div>
					<div class="panel-body">
						<p>...</p>
					</div>

				<table class="table">
					<tr>
						<th>Ablbum title</th>
						<th>Year</th>
						<th>Tracks</th>
						<th>Length</th>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">

				<div class="panel-heading">Hans Zimmer</div>
					<div class="panel-body">
						<p>...</p>
					</div>

				<table class="table">
					<tr>
						<th>Ablbum title</th>
						<th>Year</th>
						<th>Tracks</th>
						<th>Length</th>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">

				<div class="panel-heading">Chemical Brothers</div>
					<div class="panel-body">
						<p>...</p>
					</div>

				<table class="table">
					<tr>
						<th>Ablbum title</th>
						<th>Year</th>
						<th>Tracks</th>
						<th>Length</th>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">

				<div class="panel-heading">Billy Talent</div>
					<div class="panel-body">
						<p>...</p>
					</div>

				<table class="table">
					<tr>
						<th>Ablbum title</th>
						<th>Year</th>
						<th>Tracks</th>
						<th>Length</th>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">

				<div class="panel-heading">Bonobo</div>
					<div class="panel-body">
						<p>...</p>
					</div>

				<table class="table">
					<tr>
						<th>Ablbum title</th>
						<th>Year</th>
						<th>Tracks</th>
						<th>Length</th>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
					<tr>
						<td>titel</td>
						<td>2016</td>
						<td><a href="#">7</a></td>
						<td>0:50:36</td>
					</tr>
				</table>

			</div>
		</div>
	</div>

</div>
{% endblock %}}