{% extends "index.html" %}
{% block content %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Besmusic</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Home <span class="sr-only">(current)</span></a></li>
				<li class="active"><a href="/artists/all">Artists</a></li>
				<li><a href="/albums">Albums</a></li>
				<li><a href="/tracks">Tracks</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>These are the best artists in the world</h1>
			<div role="navigation" class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">Filter</a>
					</div>
					<div class="collapse navbar-collapse" id="subnav">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genre<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/artists/all">All</a></li>
									<li><a href="/artists/electro">Electro</a></li>
									<li><a href="/artists/classical">Classical</a></li>
									<li><a href="/artists/rock">Rock</a></li>
								</ul>
							</li>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% block artists %} {% endblock %}
</div>


{% endblock %}}