{% extends "visitartists.html" %}
{% block visitartists %} 
	<div class="container">
	<div class="row">
		<div class="panel panel-primary">

			<div class="panel-heading">Billy Talent</div>
				<div class="panel-body">
					<div class="col-sm-12">
						<div class="thumbnail">
							<img src="{{ url_for('static', filename='img/billy.jpg') }}" alt="Img of Nicolas Jaar">
							<div class="caption">
								<h3>Billy Talent</h3>
								<p>Billy Talent is a Canadian rock band from Mississauga, Ontario. They formed in 1993 
								with Benjamin Kowalewicz as the lead vocalist, Ian D'Sa on guitar, bassist Jon 
								Gallant and drummer Aaron Solowoniuk</p>
							</div>
						</div>
				  </div>
				</div>

			<table class="table">
				<tr>
					<th>Ablbum title</th>
					<th>Year</th>
					<th>Tracks</th>
					<th>Length</th>
				</tr>
				<tr>
					<td>titel</td>
					<td>2016</td>
					<td><a href="#">7</a></td>
					<td>0:50:36</td>
				</tr>
				<tr>
					<td>titel</td>
					<td>2016</td>
					<td><a href="#">7</a></td>
					<td>0:50:36</td>
				</tr>
			</table>

		</div>
	</div>
	
	</div>
{% endblock %}	