{% extends "artists.html" %}
{% block artists %}

<div class="row">	  
	  
	  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="{{ url_for('static', filename='img/hans.jpg') }}" alt="Img of Nicolas Jaar">
		  <div class="caption">
			<h3>Hans Zimmer</h3>
			<p>Hans Florian Zimmer is a German composer and record producer. Since the 1980s, he has composed music for over 150 films.</p>
			<p><a href="/artists/classical/hanszimmer/" class="btn btn-primary" role="button">Visit artist</a></p>
		  </div>
		</div>
	  </div>
	  
</div>
	
{% endblock %}}