{% extends "visitartists.html" %}
{% block visitartists %} 
	<div class="container">
	<div class="row">
		<div class="panel panel-primary">

			<div class="panel-heading">Deadmaus</div>
				<div class="panel-body">
					<div class="col-sm-12">
						<div class="thumbnail">
						  <img src="{{ url_for('static', filename='img/deadmaus.jpg') }}" alt="Img of Nicolas Jaar">
						  <div class="caption">
							<h3>Deadmaus</h3>
							<p>Joel Thomas Zimmerman, known professionally as deadmau5, is a Canadian electronic music producer and performer from Toronto, Ontario.</p>
						  </div>
						</div>
				  </div>
				</div>

			<table class="table">
				<tr>
					<th>Ablbum title</th>
					<th>Year</th>
					<th>Tracks</th>
					<th>Length</th>
				</tr>
				<tr>
					<td>titel</td>
					<td>2016</td>
					<td><a href="#">7</a></td>
					<td>0:50:36</td>
				</tr>
				<tr>
					<td>titel</td>
					<td>2016</td>
					<td><a href="#">7</a></td>
					<td>0:50:36</td>
				</tr>
			</table>

		</div>
	</div>
	
	</div>
{% endblock %}	