{% extends "artists.html" %}
{% block artists %}

<div class="row">
	
	  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="{{ url_for('static', filename='img/jaar.jpg') }}" alt="Img of Nicolas Jaar">
		  <div class="caption">
			<h3>Nicolas Jaar</h3>
			<p>Nicolas Jaar is a chilean music producer, mixing engineer, and dj based in ny.</p>
			<p><a href="/artists/electro/nicolasjaar/" class="btn btn-primary" role="button">Visit artist</a></p>
		  </div>
		</div>
	  </div>
	  
	  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="{{ url_for('static', filename='img/deadmaus.jpg') }}" alt="Img of Nicolas Jaar">
		  <div class="caption">
			<h3>Deadmaus</h3>
			<p>Joel Thomas Zimmerman, known professionally as deadmau5, is a Canadian electronic music producer and performer from Toronto, Ontario.</p>
			<p><a href="/artists/electro/deadmaus/" class="btn btn-primary" role="button">Visit artist</a></p>
		  </div>
		</div>
	  </div>
	  
	  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="{{ url_for('static', filename='img/bonobo.gif') }}" alt="Img of Nicolas Jaar">
		  <div class="caption">
			<h3>Bonobo</h3>
			<p>Simon Green, known by his stage name Bonobo, is a British musician, producer and DJ based in Los Angeles.</p>
			<p><a href="/artists/electro/bonobo/" class="btn btn-primary" role="button">Visit artist</a></p>
		  </div>
		</div>
	  </div>
</div>
<div class="row">	  
	  
	  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="{{ url_for('static', filename='img/chemical.jpg') }}" alt="Img of Nicolas Jaar">
		  <div class="caption">
			<h3>Chemical Brothers</h3>
			<p>The Chemical Brothers are an English electronic music duo composed of Tom Rowlands and Ed Simons, originating in Manchester in 1989.</p>
			<p><a href="/artists/electro/chemicalbrothers/" class="btn btn-primary" role="button">Visit artist</a></p>
		  </div>
		</div>
	  </div>
	  
</div>
	
{% endblock %}}