{% extends "index.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="error-text">Ups something went wrong!</h1>
			<h2 class="error-text">There is a problem with this page or the page you requested does not exist anymore</h2>
			<a class="btn btn-primary" href="/">Back to Bestmusic</a>
		</div>
	</div>
</div>
{% endblock %}}