{% extends "visitartists.html" %}
{% block visitartists %} 
	<div class="container">
	<div class="row">
		<div class="panel panel-primary">

			<div class="panel-heading">Hans Zimmer</div>
				<div class="panel-body">
					<div class="col-sm-12">
						<div class="thumbnail">
						  <img src="{{ url_for('static', filename='img/hans.jpg') }}" alt="Img of Nicolas Jaar">
						  <div class="caption">
							<h3>Hans Zimmer</h3>
							<p>Hans Florian Zimmer is a German composer and record producer. Since the 1980s, he has composed music for over 150 films.</p>
							<p><a href="#" class="btn btn-primary" role="button">Visit Band</a></p>
						  </div>
						</div>
				  </div>
				</div>

			<table class="table">
				<tr>
					<th>Ablbum title</th>
					<th>Year</th>
					<th>Tracks</th>
					<th>Length</th>
				</tr>
				<tr>
					<td>titel</td>
					<td>2016</td>
					<td><a href="#">7</a></td>
					<td>0:50:36</td>
				</tr>
				<tr>
					<td>titel</td>
					<td>2016</td>
					<td><a href="#">7</a></td>
					<td>0:50:36</td>
				</tr>
			</table>

		</div>
	</div>
	
	</div>
{% endblock %}	