{% extends "index.html" %}
{% block content %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Besmusic</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
				<li><a href="/artists/all">Artists</a></li>
				<li><a href="/albums">Albums</a></li>
				<li><a href="/tracks">Tracks</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Welcome to Bestmusic</h1>
			<p>Bestmusic is a music collection where you can find the best artists all over the world.
				Feel free to browse in our libary and find your favorite music</p>
			<a class="btn btn-primary" href="/artists/all">Visit the best artists</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a href="/artists/all">
				<div class="thumbnail">
				  <img src="{{ url_for('static', filename='img/live-music.jpg') }}" alt="Img of microphone">
				  <div class="caption">
				  </div>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}}
