
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <title>Bestmusic</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  </head>

  <body>
  	<header>
		<div class="header-logo">
			<a href="/">B3stmusic.com</a>
		</div>
	</header>

	{% block content %} {% endblock %}
	
	<footer class="bs-docs-footer">
		<div class="container">
			<ul class="footer-list">
				<li>&copy; Dominikus Weiger</li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Links</a></li>
			</ul>
		</div>
	</footer>
	
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
