{% extends "artists.html" %}
{% block artists %}
<div class="row">

	  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <img src="{{ url_for('static', filename='img/billy.jpg') }}" alt="Img of Nicolas Jaar">
		  <div class="caption">
			<h3>Billy Talent</h3>
			<p>Billy Talent is a Canadian rock band from Mississauga, Ontario. They formed in 1993 
			with Benjamin Kowalewicz as the lead vocalist, Ian D'Sa on guitar, bassist Jon 
			Gallant and drummer Aaron Solowoniuk</p>
			<p><a href="/artists/rock/billytalent/" class="btn btn-primary" role="button">Visit artist</a></p>
		  </div>
		</div>
	  </div>

</div>

	
{% endblock %}}