{% extends "index.html" %}
{% block content %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Besmusic</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Home <span class="sr-only">(current)</span></a></li>
				<li><a href="/artists/all">Artists</a></li>
				<li><a href="/albums">Albums</a></li>
				<li class="active"><a href="/tracks">Tracks</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>All our tracks</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-danger">

				<div class="panel-heading">Album title</div>

				<table class="table">
					<tr>
						<th>Track number</th>
						<th>title</th>
						<th>length</th>
						<th>Artist</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Bla</td>
						<td>0:3:36</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-danger">

				<div class="panel-heading">Album title</div>

				<table class="table">
					<tr>
						<th>Track number</th>
						<th>title</th>
						<th>length</th>
						<th>Artist</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Bla</td>
						<td>0:3:36</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-danger">

				<div class="panel-heading">Album title</div>

				<table class="table">
					<tr>
						<th>Track number</th>
						<th>title</th>
						<th>length</th>
						<th>Artist</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Bla</td>
						<td>0:3:36</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Bla</td>
						<td>0:2:50</td>
						<td>Billy Talent</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
</div>
{% endblock %}}