{% extends "index.html" %}
{% block content %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Besmusic</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">Home <span class="sr-only">(current)</span></a></li>
					<li class="active"><a href="/artists/all">Artists</a></li>
					<li><a href="/albums">Albums</a></li>
					<li><a href="/tracks">Tracks</a></li>
				</ul>
			</div>
		</div>
	</nav>
	{% block visitartists %} 
	{% endblock %}	
{% endblock %}}