/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
	color: #19194d;
 }

.active {
	background: rgba(255,255,255,0.2);
}

.nav li a {
    text-decoration: none;
    color: #999999;
}

.thumbnail {
	margin-top: 40px;
}

.panel {
	margin-top: 40px;
}

h1.error-text {
    font-size: 60px;
    color: red;
}

h2.error-text {
    font-size: 40px;
    color: #1b6d85;
}

header {
    background: #1C1C1C;
}

.header-logo {
    display: inline-block;
    margin-left: 10px;
    margin-top: 25px;
}

.header-logo a {
    text-decoration: none;
    font-size: 60px;
    color: #F2F2F2;
}

footer {
	background: #1C1C1C;
	height: 100px;
	position: ;
	bottom: 0;
}

.footer-list {
	padding: 0;
	margin-top: 30px;
}

.footer-list li {
	margin-left: 10px;
	color: #fff;
	list-style: none;
	display: inline-block;
}

.footer-list li:first-child {
	margin-left: 0:
}


.footer-list li a {
	color: grey;
	text-decoration: none;
}

.footer-list li a:hover {
	color: #fff;
}



